<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title></title>
	<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">
 	<link href="__PUBLIC__/Css/base.css" rel="stylesheet">
	<link href="__PUBLIC__/Css/bootstrapValidator.css" rel="stylesheet">







	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<block name="header"><include file="./Application/Home/Public/header.html"/></block>






<block name="content">
	<div class="container">
		<h1 style="text-align: center">{$list.goodstitle}</h1>
		<p style="text-align:right"><b>作者</b>:{$list.goodsowner} | <b>Tel</b>:{$list.phone}</p>
		<img class="img-thumbnail" src="__PUBLIC__/GoodsImgs/{$list.goodssavename}" style="float:left;width:200px;height:200px">		
		{$list.goodsdes}
	</div>
</block>



<block name="footer"><include file="./Application/Home/Public/footer.html"/></block>

	<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/base.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/bootstrapValidator.js"></script>
	<script src="__PUBLIC__/Js/bstraplang/zh_CN.js"></script>

	<!-- <script src="assets/js/jquery-1.8.2.min.js"></script> -->
	<block name="script"></block>
</body>
</html>